<div class="title">
    <p>Forum</p>
</div>
<div class="subtitle">
    <p>Top List</p>
</div>

<div class="forum-page">
    <div class="newTopic">
        <button class="btn" mat-raised-button (click)="printTopicToTrue()">Ajouter un topic</button>
        <div id="inputPlus" class="inputPlus">
            <input class="form-control" type="text" [(ngModel)]="topicName"
                placeholder="Titre du nouveau Topic .." (keyup.enter)="createTopic()">
            <div class="plus" (click)="createTopic()">
                <p>+</p>
            </div>
        </div>
    </div>
</div>


<div class="containerTopics" *ngIf="topicList">
    <div [routerLink]="['/', topic.id, 'posts']" class="topic" *ngFor="let topic of topicList">
        <div class="topicName">
            <p>{{topic.label}}</p>
        </div>
        <div class="arrow">
            <img src="assets/icons/rightArrown.png" alt="Arrow Icon">
        </div>
    </div>
</div>