* {
    font-family: "Poppins";
}

.title {
    text-align : center;
    font-size: 50px;
    margin-top: 50px;
    letter-spacing: 3px;
}

.subtitle {
    text-align : center;
    font-size: 35px;
    margin-top: 35px;
    letter-spacing: 3px;
}

.containerTopics, .forum-page {
    width: 60%;
    margin: auto;
}

.forum-page{
    margin-top: 50px;
}

.newTopic {
    display: flex;
    padding: 10px;

    .btn {
        background-color: #fff;
    }

    input {
        margin-left: 10px;
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        
    }
}

input:focus {
    outline: 0px !important;
    box-shadow: none !important;
}

.afterClick{
    opacity: 1 !important;
    pointer-events: all !important;
}

.inputPlus {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    width: 90%;

    .plus {
        display: flex;
        align-items: center;
        background-color: #1d6475;
        color: white;
        height: 100%;
        width: 35px;
        justify-content: center;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
    }

    p {
        margin: 0;
        font-size: 20px;
    }
    
}

.topic {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    border-bottom: 3px solid #E8E8E8;
    transition: 0.3s;
  
}

.topic:hover {
    filter: contrast(0.5);
    p {
        transition: 0.3s;
        color: #92d36e;
    }
    .arrow {
        width: 30px;
    }
}

.topicName{
    padding: 30px;
}

.arrow {
    width: 60px;
    transition: width 0.3s;
    img {
        width: 30px;
        height: 30px;
    }
}




