
.login-page {
    .auth-card {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    .title {
        text-align :center;
        font-weight : bold;
    }
    .full-width {
        width: 100%;
        text-align : center;
    }

    .require {
        font-style : black;
    }
    
    
    .checked {
       margin-left : 160px;
        color : black;
       
    }

    .btn {
        margin-left : 200px; 
         background-color: #92d36e;
         color : white;
     }

     .registerLink {
        text-align : center;
     }
  
    
}


