<div class="row">
    <button class="btn" mat-raised-button 
    (click)="printPostToTrue()" >Ajouter un Post : </button> 

    <button class="btn" mat-raised-button 
    [routerLink]="'/forum'" >Retour aux Topics </button> 
</div>


    <div class="input-group mb-3" *ngIf="printPostForm" >
        <div class="input-group-prepend">
            <div class="input-group-text">Nouveau Post : </div>
        </div>

        <input class="form-control" type="text" [(ngModel)]="postName" placeholder="Add a Post"
        (keyup.enter)="createPost()"> 
    </div>


<div class="posts" *ngFor="let post of postList" >

    <p>{{post.title}} </p>
    <p>{{post.text}}</p>
    <div class="answer">
        <input class="form-control" type="text" [(ngModel)]="messageName" placeholder="Add a message"
        (keyup.enter)="createMessage()"> 
    </div>
    <div *ngIf="!!post.message">
        <div *ngFor="let message of post.message">
            <p> {{message.texte}}</p>
        </div>
    </div>

    
</div>  