* {
    font-family: "Poppins";
}

mat-icon {
    font-family: 'Material Icons';
}

h3 {
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    font-weight: bold;
}

.title {
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 30px;
    font-family: "Poppins";
}

.containerNoIndicators {
    margin-top: 75px;
    text-align: center;
    min-height: 70vh;
}

.noIndicatorsText {
    h1 {
        font-size: 40px;
        color: #CCCCCC;
    }

    .t2{
        font-size: 30px;
    }
}

.arrowImg {
    transform: rotate(270deg) scaleX(-1);
    width: 400px;
    height: 400px;
    margin-left: 50%;
}

.arrowImg img {
    width: 400px;
    height: 400px;
    filter: opacity(0.3);
}

.containerIndicators {
    margin-top: 50px;
}

.btnAddIndicator img{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
  .filter {
    width : 30%;
    margin : auto;

    mat-form-field {
        width: 100%;
    }
  }

table {
    width: 65%;
    margin: auto;
    min-width: 500px;
}
th.mat-header-cell, td.mat-cell {
    text-align: center;
    max-width: 300px;
}

th td {
    text-align: center;
}

.alert {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}