* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

.home-card {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .search-form {
            width: 200px;
            margin: 0px 15px;
            padding-left: 10px;
        }
        .btnSearch {
            background-color: #1d6475;
            color : white;
        }
    }
}

.maps-container {
    max-width: 900px;
    min-width: 220px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
    overflow: hidden;
}
