<h2 mat-dialog-title>Supprimer un indicateur :</h2>

<mat-dialog-content>
    <h2>Etes-vous sûr de vouloir supprimer cet indicateur?</h2>
    <div class="containerFav">
        <div class="containerLabel">
            <p><b>Commune :</b></p>
            <p><b>Type :</b></p>
            <p><b>Durée :</b></p>
            <p><b>Indicateur :</b></p>
        </div>
        <div class="containerDatas">
            <p>{{favToDel.township.name}}</p>
            <p>{{favToDel.type}}</p>
            <p>{{favToDel.duration}}</p>
            <p>{{favToDel.labelIndicator}}</p>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="validateBtn" mat-raised-button mat-dialog-close="true" (click)=deleteFavorite()>Valider</button>
    <button mat-raised-button mat-dialog-close="false" color="warn">Annuler</button>
</mat-dialog-actions>