.meteo-card {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 80px;
    mat-card-header{
        justify-content: center;
        .meteo-card-header{
            font-size: xx-large;
        }
    }
    .meteo-card-content{
        text-align: center;
        min-width: 220px;
        h1{
            font-size: xx-large;
        }
    }
}